body,
.theme-light {
  background-color: var(--color-pinkish02);
  color: var(--color-dark);
}

.bg-low,
.theme-light .bg-low,
.theme-light.bg-low {
  background-color: var(--color-pinkish01);
}
.bg-medium,
.theme-light .bg-medium,
.theme-light.bg-medium {
  background-color: var(--color-pinkish02);
}
.bg-high,
.theme-light .bg-high,
.theme-light.bg-high {
  background-color: var(--color-pinkish03);
}

.color-accent {
  color: var(--color-pink);
}
.color-secondary {
  color: var(--color-grey);
}

.color-semi,
.theme-light .color-semi,
.theme-light.color-semi {
  color: var(--color-purple02);
}

.theme-dark {
  background-color: var(--color-purple02);
  color: var(--color-light);
}

.theme-dark .bg-low,
.theme-dark.bg-low {
  background-color: var(--color-purple03);
}
.theme-dark .bg-medium,
.theme-dark.bg-medium {
  background-color: var(--color-purple02);
}
.theme-dark .bg-high,
.theme-dark.bg-high {
  background-color: var(--color-purple01);
}

.theme-light .color-semi,
.theme-light.color-semi {
  color: var(--color-pinkish02);
}
