:root {
  /* Sizes */

  --size-5xs: 0.4rem;
  --size-4xs: 0.6rem;
  --size-3xs: 0.8rem;
  --size-xxs: 1.2rem;
  --size-xs: 1.6rem;
  --size-s: 2.4rem;
  --size-m: 3.2rem;
  --size-l: 4rem;
  --size-xl: 4.8rem;
  --size-xxl: 6.4rem;
  --size-3xl: 9.6rem;

  /* Text */

  --text-xxs: 1.1rem;
  --text-xs: 1.2rem;
  --text-s: 1.4rem;
  --text-m: 1.6rem;
  --text-l: 2.4rem;
  --text-xl: 3.2rem;
  --text-xxl: 4rem;
  --text-3xl: 8.6rem;

  --weight-bold: 700;
  --weight-normal: 400;

  --tracking-tight: -0.02em;

  /* Colors */

  --color-light: #ffffff;
  --color-pinkish01: #f1ebf0;
  --color-pinkish02: #f5f1f2;
  --color-pinkish03: #f7f3f4;
  --color-grey01: #a5a1a3;
  --color-grey02: #706b6d;
  --color-pink: #ff0066;
  --color-purple01: #50186a;
  --color-purple02: #4b1565;
  --color-purple03: #481261;
  --color-dark: #220044;

  --color-primary: var(--color-dark);
  --color-secondary: var(--color-grey02);
  --color-semi: var(--color-purple02);
  --color-low: var(--color-pinkish01);
  --color-medium: var(--color-pinkish02);
  --color-high: var(--color-pinkish03);
  --color-highest: var(--color-light);
  --color-accent: var(--color-pink);

  /* Effects */

  --shadow-convex: 0.5rem 0.5rem 0.8rem 0rem rgba(255, 255, 255, 0.8) inset,
    -0.5rem -0.5rem 0.8rem 0rem rgba(255, 255, 255, 0.8),
    -0.5rem -0.5rem 0.8rem 0rem rgba(217, 210, 213, 0.5) inset,
    0.5rem 0.5rem 0.8rem 0rem rgba(217, 210, 213, 0.5);
  --shadow-concave: 0.5rem 0.5rem 0.8rem 0rem rgba(217, 210, 213, 0.3) inset,
    -0.5rem -0.5rem 0.8rem 0rem rgba(217, 210, 213, 0.3), -0.5rem -0.5rem 0.7rem 0rem #fff inset,
    0.5rem 0.5rem 0.7rem 0rem #fff;
  --shadow-button: -5px -5px 10px 0px rgba(255, 255, 255, 0.75), 1px 1px 10px 0px rgba(0, 0, 0, 0.1),
    1px 1px 2px 0px rgba(255, 255, 255, 0.8) inset;
  --shadow-button-hover: -3px -3px 6px 0px rgba(255, 255, 255, 0.75),
    1px 1px 6px 0px rgba(0, 0, 0, 0.15), 1px 1px 2px 0px rgba(255, 255, 255, 0.8) inset;
  --shadow-slot: 10px 10px 70px 0px rgba(0, 0, 0, 0.04),
    -5px -5px 10px 0px rgba(255, 255, 255, 0.85) inset, 1px 1px 10px 0px rgba(0, 0, 0, 0.09) inset;

  /* Other */

  --ease: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media (min-width: 640px) {
  :root {
    /* Sizes */

    --size-4xs: 0.8rem;
    --size-3xs: 1.2rem;
    --size-xxs: 1.6rem;
    --size-xs: 2.4rem;
    --size-s: 3.2rem;
    --size-m: 4.8rem;
    --size-l: 6.4rem;
    --size-xl: 7.2rem;
    --size-xxl: 9.6rem;
    --size-3xl: 12.8rem;

    /* Text */

    --text-xxs: 1.2rem;
    --text-xs: 1.5rem;
    --text-s: 1.8rem;
    --text-m: 2.2rem;
    --text-l: 3.6rem;
    --text-xl: 4.8rem;
    --text-xxl: 6.4rem;
    --text-3xl: 24rem;
  }
}

.theme-dark {
  /* Colors */

  --color-primary: var(--color-light);
  --color-secondary: var(--color-grey01);
  --color-semi: var(--color-pinkish02);
  --color-low: var(--color-purple03);
  --color-medium: var(--color-purple02);
  --color-high: var(--color-purple01);
  --color-highest: var(--color-purple01);

  /* Effects */

  --shadow-convex: 5px 5px 8px 0px rgba(255, 255, 255, 0.06) inset,
    -5px -5px 8px 0px rgba(48, 0, 69, 0.4) inset, -5px -5px 8px 0px rgba(255, 255, 255, 0.06),
    5px 5px 8px 0px rgba(48, 0, 69, 0.4);
  --shadow-slot: -5px -5px 5px 0px rgba(255, 255, 255, 0.06) inset,
    1px 1px 10px 0px rgba(0, 0, 0, 0.13) inset;
}

.theme-accent {
  /* Colors */

  --color-primary: var(--color-light);
  --color-secondary: var(--color-light);
  --color-semi: var(--color-pinkish02);
  --color-low: var(--color-pink);
  --color-medium: var(--color-pink);
  --color-high: var(--color-pink);

  /* Effects */
  --shadow-convex: 5px 5px 8px 0px rgba(255, 255, 255, 0.2) inset,
    -5px -5px 8px 0px rgba(255, 255, 255, 0.2), -5px -5px 7px 0px rgba(186, 0, 45, 0.4) inset,
    5px 5px 7px 0px rgba(186, 0, 45, 0.4);
  --shadow-button: 1px 1px 2px 0px rgba(255, 255, 255, 0.1) inset,
    -5px -5px 10px 0px rgba(255, 255, 255, 0.06), 1px 1px 10px 0px rgba(0, 0, 0, 0.2);
  --shadow-button-hover: 1px 1px 2px 0px rgba(255, 255, 255, 0.1) inset,
    -3px -3px 6px 0px rgba(255, 255, 255, 0.06), 1px 1px 6px 0px rgba(0, 0, 0, 0.4);
}

html {
  font-size: 9px;
}
@media (min-width: 375px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 460px) {
  html {
    font-size: 11px;
  }
}

@media (min-width: 640px) {
  html {
    font-size: 8px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 9px;
  }
}
@media (min-width: 1400px) {
  html {
    font-size: 10px;
  }
}
